
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<style>
.head{
  font-size: 200px;
  font-family: fantasy;
  color: red;
  margin-top: 30px;
}


.mymenu{margin-top:5px;}
.mymenu .navbar-default{background: none;
border: none;}
@media(max-width: 1200px)
{
  .mymenu .pull-right{float: none!important;}
}
#mynavbar .navbar-nav a,  {
  font-size: 30px;
    
    margin-left: auto;
    margin-right: auto;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navc{
  
  font-size: 40px;
}



/* visited link */


                                



</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <center>
        <b class= "head">Friendship</b>
      </center>
    </div>
  </div>
</div>

<div class = "container-fluid ">
  <div class = "row">
    <div class = "col-xs-12 mymenu">
    <nav class = "navbar navbar-default">
    <div class = "navbar-header">
    <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#mynavbar">
      <span class = "icon-bar"></span>
      <span class = "icon-bar"></span>
      <span class = "icon-bar"></span>
    </button>
    </div>
    <div class = "collapse navbar-collapse" id = "mynavbar">

    <ul class = "nav navbar-nav"> 

      <li class="navc" ><a href="/">Home</a></li>
      
      <li class="navc" ><a href="/facts">Facts</a></li>
     
     <li class="navc"><a href="/aboutf">Celebration</a></li>
     
     <li class="navc"><a href="/qa">Q/A</a></li>



    </ul>
    </div>
    </nav>
    </div>

    
  </div>
</div>
<hr>




