
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<style>

.mymenu{margin-top: 20px;}
.mymenu .navbar-default{background: none;
border: none;}
@media(max-width: 1200px)
{
  .mymenu .pull-right{float: none!important;}
}
#mynavbar .navbar-nav a {
  font-size: 30px;
    color: #272822;
    margin-left: auto;
    margin-right: auto;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}





.name{
  color: #F1F1F1;
  font-size: 40px;
  padding-left: 40px;
  padding-top: 10px;
}
/* visited link */


                                



</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <center>
        <img src="static/logof.png" class="img-responsive" height="200px" alt="logo">
      </center>
    </div>
  </div>
</div>

<div class = "container-fluid ">
  <div class = "row">
    <div class = "col-xs-12 mymenu">
    <nav class = "navbar navbar-default">
    <div class = "navbar-header">
    <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#mynavbar">
      <span class = "icon-bar"></span>
      <span class = "icon-bar"></span>
      <span class = "icon-bar"></span>
    </button>
    </div>
    <div class = "collapse navbar-collapse" id = "mynavbar">

    <ul class = "nav navbar-nav  "> 

      <li><a href="/">Home</a></li>
      
      <li><a href="/articles">Quotes</a></li>
      <li><a href="/add_article">Best Friendships</a></li>
     <li><a href="/dashboard">About Friendship</a></li>
     <li><a href="/add_article">Q/A</a></li>
     <li><a href="/dashboard">Test</a></li>



    </ul>
    </div>
    </nav>
    </div>

    
  </div>
</div>
<hr>




