<!DOCTYPE html>
<html>
<head>
	<title>
		Friendship
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>


<style>
.facts{
	color: #F1F1F1;
border: solid;
}
.hed{
	color: green;
}
	.w3-button {width:150px;
	}
	body{background-color:rgb(0,0,0);background-image:url(http://www.zingerbugimages.com/backgrounds/purple_stars.gif);background-position:top left;background-repeat:repeat;background-attachment:fixed;}
</style>
<body>
{% include 'includes/navbar.html' %}
</body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 facts">
				<b><h1 class="hed">Gift Ideas</h1></b>
				<h2>Friendship bands</h2>
				<h2>Cards</h2>
				<h2>Toys</h2>
				<h2>Photo Frames and Photo Albums</h2>
				<h2>Show Pieces</h2>
				<h2>Flowers</h2>
			</div>
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 facts">
				<b><h1 class="hed">Celebration Ideas</h1></b>
				<h2>Camping</h2>
				<h2>Organize a party</h2>
				<h2>Sharing Thoughts and Views</h2>
				<h2>Recollect Sweet Memories</h2>
				<h2>Picnic/Adventure</h2>
				<h2>Make a Poster</h2>
			</div>
		</div>
	</div>
</body>	
</html>