<!DOCTYPE html>
<html>
<head>
	<title>
		Friendship
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
</head>
<style>
	.w3-button {width:150px;
	}
</style>
<body>
{% include 'includes/navbar.html' %}
</body>
		<div class="col-sm-3 col-xs-12">
			 <center><a href="/social"><button class="w3-button w3-red w3-round-xxlarge"></button></a></center><br>
		</div>
		<div class="col-sm-3 col-xs-12">
			 <center><a href="/politics"><button class="w3-button w3-red w3-round-xxlarge"></button></a></center><br>
		</div>
		<div class="col-sm-3 col-xs-12">
			 <center><a href="/movies"><button class="w3-button w3-red w3-round-xxlarge"></button></a></center><br>
		</div>
		<div class="col-sm-3 col-xs-12">
			 <center><a href="/env"><button class="w3-button w3-red w3-round-xxlarge"></button></a></center><br>
		</div>
</html>