<!DOCTYPE html>
<html>
<head>
	<title>
		Friendship
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style >
.facts{
	color: #F1F1F1;
border: solid;
}

	body{background-color:rgb(0,0,0);background-image:url(http://www.zingerbugimages.com/backgrounds/purple_stars.gif);background-position:top left;background-repeat:repeat;background-attachment:fixed;}
}
</style>
<body>
{% include 'includes/navbar.html' %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 facts">
			<h2><b>Several studies have shown that, at least between chimpanzees, baboons, horses, hyenas, elephants, bats and dolphins, animals can form friendships for life with individuals that aren’t from their species.</b></h2><br><hr>
			<h2><b>When faced with major illnesses, those individuals with a great social network are in a better position to survive. The loving support of friends helps them through the healing process.</b></h2><br><hr>
			<h2><b> “With a Little Help From My Friends” (Beatles) was released in year 1967 on celebration of 10th International Friendship Day.</b></h2><br><hr>
			<h2><b> A 2004 study published in the American Sociological Review revealed that the average number of trusted friends fell by a third in the past 20 years and the proportion of people with no confidants had doubled.</b></h2><br><hr>
			<h2><b> In a lifetime, you make 396 friends, but only 1 out of 12 friendships lasts.</b></h2><br><hr>
			<h2><b> <h2><b> In a lifetime, you make 396 friends, but only 1 out of 12 friendships lasts.</b></h2><br> Your brain reacts the same way when you are in danger and when a friend is. </b></h2><br>


		</div>
	</div>
</div>
</body>
</html>