<!DOCTYPE html>
<html>
<head>
	<title>
		Friendship
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style >
	body{background-color:rgb(0,0,1);background-image:url(http://www.zingerbugimages.com/backgrounds/purple_stars.gif);background-position:top left;background-repeat:repeat;background-attachment:fixed;}
</style>
<body>
{% include 'includes/navbar.html' %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4 col-xs-12">
			<iframe width="100%" height="315" src="https://www.youtube.com/embed/kjpYA78WvEs" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-sm-4 col-xs-12">
			<iframe width="100%" height="315" src="https://www.youtube.com/embed/wTNZRm-5S2A" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-sm-4 col-xs-12">
			<iframe width="100%" height="315" src="http://www.youtube.com/embed/7DEBPA9oVI4" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="thumbnail">
				<h3><b><center>Friendship is born at that moment when one person says to another: 'What! You too? I thought I was the only one.</center></b></h3>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="thumbnail">
				<h3><b><center>Sweet is the memory of distant friends! Like the mellow rays of the departing sun, it falls tenderly, yet sadly, on the heart.</center></b></h3>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="thumbnail">
				<h3><b><center>A friend is someone who understands your past, believes in your future, and accepts you just the way you are.</center></b></h3>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="thumbnail">
				<h3><b><center>Ultimately the bond of all companionship, whether in marriage or in friendship, is conversation.</center></b></h3>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="thumbnail">
				<h3><b><center>A loyal friend laughs at your jokes when they’re not so good, and sympathizes with your problems when they’re not so bad.</center></b></h3>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="thumbnail">
				<h3><b><center>Ultimately the bond of all companionship, whether in marriage or in friendship, is conversation.</center></b></h3>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="thumbnail">
				<h3><b><center>The real test of friendship is can you literally do nothing with the other person? Can you enjoy those moments of life that are utterly simple?</center></b></h3>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="thumbnail">
				<h3><b><center>I don’t need a friend who changes when I change and who nods when I nod; my shadow does that much better.</center></b></h3>
			</div>
		</div>
	</div>
</div>
</body>
</html>